In [47]:
import scipy.stats as stats
import numpy as np

# Objectives
* YWBAT list the steps of hypothesis testing
* YWBAT Run hypothesis testing in python
* YWBAT interpret a pvalue

Problem 1

The UNC System administration is hearing complaints from students and parents about
the rising cost of textbooks. Financial aid officers from the 16 campuses agree that 300 dollars per semester for textbooks is a critical “breakpoint” for full-time undergraduate students; when textbook costs exceed 300 dollars per semester, a student's finances are significantly stressed. There is concern that the mean textbook cost per semester for full-time undergraduate students, is greater than 300 dollars. 

To evaluate the situation, a random sampleof 25 full-time undergraduate students in the UNC System is selected and asked theirtextbook costs for the current semester; the costs are shown below. Use this data to testthe hypothesis that the mean semester textbook cost for full-time undergraduate students exceeds 300 dollars.


Data = 350, 375, 333, 275, 375, 425, 258, 365, 285, 305, 318, 225, 410, 295, 300, 345,
315, 272, 300, 375, 287, 325, 245, 250, 400.


H0 -> mu == 300

HA -> mu > 300

In [50]:
data =  np.array([350, 375, 333, 275, 375, 425, 258, 365, 285, 305, 318, 225, 410, 295, 300, 345,
315, 272, 300, 375, 287, 325, 245, 250, 400])

In [51]:
mu = data.mean()
std = data.std(ddof=1) # ddof = 1, because the data is a sample population and not the entire population
print(mu, std)

320.32 54.028325904103305

In [52]:
"""
H0 = mu == 300
HA = mu > 300
"""

'\nH0 = mu == 300\nHA = mu > 300\n'

In [60]:
t, p = stats.ttest_1samp(data, popmean=300)
print(t, p) # pvalue = 0.722 -> two sided test, but we're running a one sided test

1.8804950606897062 0.07223055072546887

In [61]:
p = p/2 # one sided ttest
p

0.036115275362734435

In [62]:
if p < 0.05:
    print("HA = mu0 > 300")
else:
    print("H0 = mu0 == 300")

HA = mu0 > 300

Problem 2


USA Today reported that the state with the longest mean life span is Hawaii, where the population mean life span is 77 years. A random sample of 20 obituary notices in the Honolulu Advertiser gave the following information about life span (in years) of Honolulu residents:


72	68	81	93	56	19	78	94	83	84	
77	69	85	97	75	71	86	47	66	88	


Assuming that life span in Honolulu is normally distributed; does this information indicate that the population mean life span for Honolulu residents is less than 77 years? Use a 5% level of significance.

In [64]:
"""
H0 = mu == 77
HA = mu < 77
"""

'\nH0 = mu == 77\nHA = mu < 77\n'

In [65]:
data = "72 68 81 93 56 19 78 94 83 84 77 69 85 97 75 71 86 47 66 88".split(' ')
data = np.array([int(i) for i in data])
print(data)

[72 68 81 93 56 19 78 94 83 84 77 69 85 97 75 71 86 47 66 88]

In [66]:
mu = data.mean()
std = data.std(ddof=1)
print(mu, std)

74.45 18.091798083516654

In [68]:
t, p = stats.ttest_1samp(data, 77)
p

0.535981904807004

In [69]:
p/2

0.267990952403502

In [77]:
if p < 0.05:
    print("HA = mu0 < 77")
else:
    print("H0 = mu0 == 77")

H0 = mu0 == 77

In [73]:
data_ = np.array([i for i in data if i !=19])

In [74]:
mu = data_.mean()
std = data_.std(ddof=1)
print(mu, std)

77.36842105263158 12.872065043322776

In [75]:
t_, p_ = stats.ttest_1samp(data_, 77)
p_

0.9020968435651694

In [76]:
p_/2

0.4510484217825847

In [45]:
"""
H0 = data1.mean() == data2.mean()
HA = data2.mean() < data1.mean()
"""

'\nH0 = data1.mean() == data2.mean()\nHA = data2.mean() < data1.mean()\n'

In [78]:
data1=np.array([186, 181, 176, 149, 184, 190, 158, 139, 175, 148, 152, 111, 141, 
       153, 190, 157, 131, 149, 135, 132]) #beef franks

In [79]:
data2=np.array([129, 132, 102, 106, 94, 102, 87, 99, 
                170, 113, 135, 142, 86, 143, 152, 146, 144]) # poultry

In [80]:
mu1 = data1.mean()
std1 = data1.std(ddof=1)
mu2 = data2.mean()
std2 = data2.std(ddof=1)
n1 = len(data1)
n2 = len(data2)

In [81]:
print(mu1, std1)
print(mu2,std2)

156.85 22.642008000965582
122.47058823529412 25.483125904848347

In [82]:
num = (len(data1)-1)*std1**2 + (len(data2)-1)*std2**2
den = len(data1) + len(data2) - 2
pooled_std = np.sqrt(num/den)

In [83]:
pooled_std

23.98260398950971

In [84]:
se = pooled_std*np.sqrt((n2+n1)/(n1*n2)) # sqrt(1/n1 + 1/n2)

In [85]:
se

7.911480095471267

In [86]:
t = (mu1-mu2)/se

In [87]:
t

4.345509481138116

In [91]:
t, p = stats.ttest_ind(data1, data2)

In [92]:
if p<0.05:
    print("HA: mu2 < mu1")
else:
    print("H0: m2==m1")

HA: mu2 < mu1

In [94]:
# H0: mu1 = mu2
# HA: m1 < mu2

# m1 -> people who have worked less than 10 years
# m2 -> people who have worked greater than or equal to 10 years