# Introduction to Time Series

## Introduction
From stock prices to climate data, time series data is found in a wide variety of domains, and being able to effectively work with such data is an increasingly important skill for data scientists. 

In this lecture, you will be introduced to some common techniques used to import/load, clean and manipulate time series data. Additionally, you'll learn how you can effectively visualize time series data in Python.

## Objectives

You will be able to:

* Load time-series data using Pandas and perform time series indexing
* Perform index based slicing to create subsets of a time-series
* Change the granularity of a time series 
* Perform basic data cleasing operations on a time series
* Getting time series data ready for further analysis

## Loading Time Series Data

To get a sense of how to manipulate time series data, we'll walk through an example. The dataset we'll load contains daily minimum temperatures in Melbourne, Australia, from 1981-1986. The data is stored in a `.csv`-file, so our usual `pd.read_csv` can be used.

In [99]:
import pandas as pd
temp_data = pd.read_csv("min_temp.csv")
temp_data.head(15)

       Date  Daily_min
0    1/1/81       20.7
1    2/1/81       17.9
2    3/1/81       18.8
3    4/1/81       14.6
4    5/1/81       15.8
5    6/1/81       15.8
6    7/1/81       15.8
7    8/1/81       17.4
8    9/1/81       21.8
9   10/1/81       20.0
10  11/1/81       16.2
11  12/1/81       13.3
12  13/1/81       16.7
13  14/1/81       21.5
14  15/1/81       25.0

Now, let's look at the information of our data set.

In [75]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
Date         3650 non-null object
Daily_min    3650 non-null float64
dtypes: float64(1), object(1)
memory usage: 57.1+ KB

While working with time series data in Python, it's important to always ensure that dates are used as index values and are understood my Python as a true "date" object. This can be done either by using Pandas' `Timestamp` or base Python’s `Datetime` and is interchangeable in most cases. It’s the type used for the entries that make up a `DatetimeIndex`, and other timeseries oriented data structures in pandas. Further details on Timestamp can be found [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Timestamp.html).

We need to do two things now:
1. Make sure that we change the dates in our data sets fron "non-null object" to "non-null datetime". To make sure Python understands the date correctly, a `format` argument can be passed [as specified in the documentation](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#providing-a-format-argument).
2. Make sure that the date becomes the index.

In [76]:
# 1. convert Date to a datetime column
temp_data.Date = pd.to_datetime(temp_data.Date, format='%d/%m/%y')

In [77]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
Date         3650 non-null datetime64[ns]
Daily_min    3650 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.1 KB

In [78]:
# 2. Make Date the index 
temp_data.set_index('Date', inplace = True)

In [79]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3650 entries, 1981-01-01 to 1990-12-31
Data columns (total 1 columns):
Daily_min    3650 non-null float64
dtypes: float64(1)
memory usage: 57.0 KB

In [81]:
temp_data.head(15)

            Daily_min
Date
1981-01-01       20.7
1981-01-02       17.9
1981-01-03       18.8
1981-01-04       14.6
1981-01-05       15.8
1981-01-06       15.8
1981-01-07       15.8
1981-01-08       17.4
1981-01-09       21.8
1981-01-10       20.0
1981-01-11       16.2
1981-01-12       13.3
1981-01-13       16.7
1981-01-14       21.5
1981-01-15       25.0

## Resampling

### Downsampling

Note how the Date is now the index! Having the date as the index has several advantages, among others, easy visualization with dates on the x-axis, and the functionality to *resample* the data. 

Pandas has a simple, powerful, and efficient functionality for performing resampling operations when converting the frequency conversion (e.g., converting monthly data into yearly data). This is very common in financial applications.

In [83]:
temp_monthly= temp_data.resample('MS')
month_mean = temp_monthly.mean()

In [85]:
month_mean.head(15)

            Daily_min
Date
1981-01-01  17.712903
1981-02-01  17.678571
1981-03-01  13.500000
1981-04-01  12.356667
1981-05-01   9.490323
1981-06-01   7.306667
1981-07-01   7.577419
1981-08-01   7.238710
1981-09-01  10.143333
1981-10-01  10.087097
1981-11-01  11.890000
1981-12-01  13.680645
1982-01-01  16.567742
1982-02-01  15.921429
1982-03-01  14.935484

### Upsampling

In some cases, it is useful to create upsampled time series as well, especially if you're trying to merge several time series together with different frequencies. You can do this by using "resample" to a time which is more frequent than the timestamp from the original time series.

In [93]:
temp_bidaily= temp_data.resample('12H').asfreq()
temp_bidaily.head()

                     Daily_min
Date
1981-01-01 00:00:00       20.7
1981-01-01 12:00:00        NaN
1981-01-02 00:00:00       17.9
1981-01-02 12:00:00        NaN
1981-01-03 00:00:00       18.8

In [94]:
temp_bidaily_fill= temp_data.resample('12H').ffill()
temp_bidaily_fill.head()

                     Daily_min
Date
1981-01-01 00:00:00       20.7
1981-01-01 12:00:00       20.7
1981-01-02 00:00:00       17.9
1981-01-02 12:00:00       17.9
1981-01-03 00:00:00       18.8

## Selecting and slicing time series data

Pandas carries the ability to handle date stamp indices allowing quick and handy way of slicing data. For example, we can slice our dataset to only retrieve data points that come after the year 1985.

In [97]:
temp_1985_onwards = temp_data['1985':]
print(temp_1985_onwards.head())
print(temp_1985_onwards.tail())

            Daily_min
Date
1985-01-01       13.3
1985-01-02       15.2
1985-01-03       13.1
1985-01-04       12.7
1985-01-05       14.6
            Daily_min
Date
1990-12-27       14.0
1990-12-28       13.6
1990-12-29       13.5
1990-12-30       15.7
1990-12-31       13.0

## Missing Data

It's pretty common for a time series dataset to have missing values as real world data tends to be messy and imperfect, just like any othe type of data. Simplest way to detect missing values is either plotting the data and identifying disjoint areas of timeseries, or by using `DataFrame.isnull()` function to get list of all missing values. This function can be used with `sum()` to get a total count of all missing values.

In [98]:
temp_data.isnull().sum()

Daily_min    0
dtype: int64

In this case, there is no missing data. When missingness is present, however, they can be handled in a multitude of ways. 
* Drop the data elements with missing values (this may result as low accuracy and loss of valuable information)
* Fill in the missing values under a defined criteria 
* Use advanced machine learning methods to predict the missing values 

in general, the`DataFrame.fillna()` function can be used along with, methods like `bfill()` of `ffill()` as an argument/criterion for filling in Null values . `bfill()` (backward filling) looks for the next valid entry in the time series and fills the gaps with this value. Similarly, `ffill()` can be used to copy forward the previous valid entry of the time series.

## Visualizing time series data

## Additional reading

An overview of Pandas time series functionality can be found [here](https://pandas.pydata.org/pandas-docs/stable/timeseries.html).

Some more manipulation tricks can be found [here](https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea).

## Summary

In this introductory lesson, we learnt how to create a time-series object in Python using Pandas. We learnt to fulfil all the requirements for a dataset to be classified as a time-series by ensuring timestamp values as data index. Basic data handling techniques for getting time-series data ready for further analysis were introduced.